body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.welcome{
    display: flex;
    background-image: url(images/top-banner.png);
   background-repeat: no-repeat;
}
.dream{
    margin-top: 100px;
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-side{
    margin-right: 5%;
}
.half-width{
    width: 50%;
    margin-left: 5%;
}
.half-width img{
    width: 80%;
}
.half-width h1{
font-size:50px;
}
.name{
    color: #ffa500;
}
.paragraph1,.paragraph2{
    text-align:justify;
}
.hire-btn{
    text-decoration: none;
    background: linear-gradient(#ffa500,#ee6237);
    color: #fff;
    padding: 10px 40px;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: 700;
}
.download-btn{
    text-decoration: none;
    background: linear-gradient(#ffa500,#ee6237);
    color: #fff;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 700;
}
.experience-content{
    display: flex;
}
.first-h1{
    font-size: 50px;
    margin-left: 30px;
}
.experience-box h1{
    font-size: 30px;
}
.experience-box h3{
    color: #db8a3f;
}
.experience-box{
    box-shadow: 5px 7px 40px gray;
    padding-left: 2%;
    width: 40%;
    padding-bottom: 6%;
    margin-bottom: 10%;
}
.box-1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 30;
}
.box-2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(123, 173, 240), rgb(18, 86, 247));
    border-image-slice: 30;
}
footer p{
    text-align: center;
}